.aboutJim {
	z-index: 10;
	width: 80vw;
	height: 100vh;
	overflow-y: scroll;
	position: relative;
	display: flex;
	justify-content: center;
}
.photo-container {
	display: flex;
	margin-top: 120px;
}
.jim {
	flex-basis: 33%;
	position: relative;
	margin-top: 120px;
}
.jim .left,
.jim .right,
.jim .main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
img.righty {
	margin-top: 20px;
	margin-left: 20px;
}
.lefty,
.righty {
	/* width: 43.75%; */
	width: 43.5%;
}
p {
	width: 90%;
	margin: 0;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5;
	padding: 20px;
}
.jim.left {
	/* background: rgba(0, 0, 0, .2); */
	margin-top: 140px;
	border: 20px solid rgba(0, 0, 0, .2);
	height: 65vh;
	overflow: hidden;
}
.jimPhoto {
	position: absolute;
	z-index: 2;
	width: 120%;
	right: -55px;
	top: -30px;
	/* left: 10; */
}
