.wf-content {
	display: flex;
	/* margin-top: 80px; */
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 80px;
}
/* .wf-container {
	width: 77vw;
	margin-top: 60px;
} */
.slide {
	display: none;
	max-width: 900px;
	text-align: center;
}
.main {
	width: 80%;
	margin-top: 20px;
}
.spread {
	width: 100%;
}
h2 {
	margin-bottom: 50px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 2px;
	font-size: 15px;
}
.inactive {
	display: none;
}
.active {
	display: block;
}

/* .image {
	border: 1 px solid grey;
} */

.fas {
	display: inline-flex;
}
/* .backArrow {
	position: relative;
} */
.arrowSpace h2 {
	margin: 0 10px;
	/* position: absolute; */
}
