.wf-content {
	width: 100%;
	display: flex;
	/* margin-top: 80px; */
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}
.wf-container {
	width: 77vw;
	/* margin-top: 60px; */
}

.main {
	width: 80%;
	margin-top: 20px;
}
.spread {
	width: 100%;
	border: .5px solid black;
}
h2 {
	margin-bottom: 50px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 2px;
	font-size: 15px;
}
li.slide.selected {
	width: 100%;
	border: 1px solid black;
}
.carousel.slide {
	width: 100%;
}
/* .carousel-wrapper,
.carousel,
.carousel > .slider-wrapper,
.carousel > .slider-wrapper > .slider {
	flex: 1 1 auto;
	background-color: black;
} */
