/* font-family: 'UnifrakturMaguntia', cursive; */

.wf-content {
	display: flex;
	/* margin-top: 80px; */
	justify-content: space-around;
	flex-direction: row;
	position: relative;
	height: 85%;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 20px;
	width: 75%;
}

.slide {
	display: none;
	text-align: center;
}

.spread {
	width: 100%;
	border: 1px solid grey;
}
h2 {
	margin-bottom: 50px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 2px;
	font-size: 18px;
}

.fas {
	display: inline-flex;
}

.arrowSpace {
	margin: 0 10px;
}
.slider-item {
	width: 79%;
}
.arrows {
	align-self: center;
	margin-bottom: 50px;
	display: inline-flex;
}
.arrows.back {
	width: 95px;
}
.arrows.front {
	width: 120px;
}
span {
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 25px;
	font-weight: bold;
	vertical-align: -10%;
}
.arrows.back.gone {
	visibility: hidden;
}
.arrows.back.show {
	display: visible;
}
