.home-container {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	overflow: hidden;
	margin-bottom: auto;
	margin-top: 140px;
	width: 100vw;
	height: 100vh;
}

.home {
	width: 80vw;
	height: 60vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.3fr 2.5fr 0.2fr;
	gap: 0px 30px;
	grid-template-areas: "header header header" "left main right" "footer footer footer";
}

.header {
	grid-area: header;
}

.left {
	grid-area: left;
}

.main {
	grid-area: main;
}

.right {
	grid-area: right;
}

.footer {
	grid-area: footer;
}

/* .mexico {
	width: 106%;
} */

/* .main {
	width: 30%;
}
.left,
.right {
	width: 25%;
} */

.left {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	border: 1px solid grey;
	grid-gap: 10px;
	/* grid-gap: 5px; */
}

.right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	border: 1px solid grey;

	/* grid-gap: 5px; */

	grid-gap: 10px;
	grid-template-areas: "image-tl image-tr" "copy image-m" "copy image-b";
}
.copy {
	grid-area: copy;
}
.image-tl {
	grid-area: image-tl;
}
.image-tr {
	grid-area: image-tr;
}
.image-m {
	grid-area: image-m;
}
.image-b {
	grid-area: image-b;
}

h1 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -2px;
	/* position: absolute; */
	color: black;
	font-size: 85px;
	right: 14.5vw;
	margin: 0;
	text-align: right;
}
img {
	width: 100%;
}
.left img {
	width: 90%;
}

/* margin-top: 0; */
