/* font-family: franklin-gothic-urw, sans-serif; */
/* font-family: franklin-gothic-urw, sans-serif; */
.fpo {
	position: absolute;
	opacity: 0%;
	width: 90vw;
}
.home-container {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	overflow: hidden;
	margin-bottom: auto;
	margin-top: 140px;
	width: 100vw;
	height: 100vh;
}
h1 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -2px;
	position: absolute;
	color: black;
	font-size: 110px;
	right: 2%;
	margin-top: 15px;
	/* margin-top: 0; */
}
.home {
	z-index: 10;
	width: 85vw;
	height: 100vh;
	overflow-y: scroll;
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: -40px;
}

.photo-container {
	display: flex;
	margin-top: 120px;
}
.interior {
	flex-basis: 33%;
	position: relative;
}
.interior .left,
.interior .right,
.interior .main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.mexico {
	margin-top: 20px;
	width: 95.75%;
}
.lefty,
.righty {
	/* width: 43.75%; */
	width: 43.5%;
}
img.lefty {
	margin-top: 20px;
	margin-right: 20px;
}
img.righty {
	margin-top: 20px;
	margin-left: 20px;
}
.homeDek {
	position: absolute;
	top: 27%;
	width: 50%;
	height: 100%;
}
h4,
span.intro {
	text-align: left;
	margin-left: 37px;
	letter-spacing: 0;
	line-height: 1.2;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-size: 32px;
	margin-top: 0;
}
h4 {
	margin-bottom: 85px;
}
span.intro {
	font-weight: 800;
	margin: 0;
	line-height: 0;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1px;
}
.sign-up {
	position: absolute;
	left: 32px;
	width: 90%;
	height: 30px;
	background: black;
	color: white;
	font-size: 20px;
}
h7 {
	padding-top: 2px;
	line-height: 1.4;
}

.photoCredit {
	text-align: left;
	margin: 0 15px;
}
