/* font-family: franklin-gothic-urw, sans-serif; */
/* font-family: franklin-gothic-urw, sans-serif; */
/*
.home-container {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	overflow: hidden;
	margin-bottom: auto;
	margin-top: 140px;
	width: 100vw;
	height: 100vh;
} */
/* h1 {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -2px;
	position: absolute;
	color: black;
	font-size: 110px;
	right: 2%;
	margin-top: 15px;

	/* margin-top: 0; */
/* } */
/* .home {
	z-index: 10;
	width: 85vw;
	height: 100vh;
	overflow-y: scroll;
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: -40px;
} */

/* .photo-container {
	display: flex;
	margin-top: 120px;
}
.interior {
	flex-basis: 33%;
	position: relative;
}
.interior .left,
.interior .right,
.interior .main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.mexico {
	margin-top: 20px;
	width: 95.75%;
} */
/* .lefty,
.righty {
	/* width: 43.75%; */
/* width: 43.5%; */
/* }  */
/* img.lefty {
	margin-top: 20px;
	margin-right: 20px;
}
img.righty {
	margin-top: 20px;
	margin-left: 20px;
}
.homeDek {
	position: absolute;
	top: 27%;
	width: 50%;
	height: 100%;
}
h4,
span.intro {
	text-align: left;
	margin-left: 37px;
	letter-spacing: 0;
	line-height: 1.2;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-size: 32px;
	margin-top: 0;
} */
/* h4 {
	margin-bottom: 20px;
	/* margin-bottom: 85px; */
/* color: rgba(0, 0, 0, .8); */
/* }
span.intro {
	font-weight: 600;
	margin: 0;
	line-height: 0;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1px;
	font-family: franklin-gothic-atf, sans-serif;
}  */
/* .signUpBtn {
	position: absolute;
	left: 32px;
	width: 80%;
	height: 30px;
	background: black;
	color: white;
	font-size: 20px;

} */
/*
.signUpBtn {
	position: absolute;
	border-radius: 50%; */
/* left: 32px; */
/* width: 40%;
	height: 40%; */

/* height: 120px;
	width: 120px;
	background: black;
	color: white;
	font-size: 20px;
	left: -30px;
	transform: rotate(-15deg);
	padding: 20px;
	border: none;
	box-shadow: 14px 14px solid grey;
}
h7 {
	padding-top: 2px;
	line-height: 1.4;
	font-weight: 600;
	line-height: .5;
}

.photoCredit {
	text-align: left;
	margin: 0 15px;
} */
