#navbar,
#navbarHome {
	position: fixed;
	width: 100vw;
	height: 120px;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15vw;
}
#navbarHome {
	margin-top: 50px;
	padding: 0 10vw;
}

h3,
h6 {
	font-size: 25px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 3px;
	line-height: 4;
}
h6 {
	font-size: 42px;
	margin-bottom: 15px;
}
h3 {
	padding-top: 110px;
	letter-spacing: 4px;
}
ul {
	padding: 0;
	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: grey;
}
.navbarItems {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.toggleNavBar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background: grey;
	border: 1px solid black;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	margin: 0;
}

li {
	display: inline-flex;
}

.toggleNavBar a {
	margin: 20px 0;
	color: white;
}
.toggleNavBar a:hover {
	color: black;
}
/* .toggle {
	height: 100px;
	width: 100px;
	position: absolute;
	z-index: 10;
	left: 20px;
	top: 40px;
} */

/* .toggle .topLine {
	margin-top: -40px;
	background: transparent; */
/* transform: rotate(-45deg); */
/* top: 50px;
} */
/* .toggle .middleLine {
	margin-top: -10px;
	background: transparent;
} */
/* .toggle .bottomLine {
	margin-top: 0px;
	background: transparent; */
/* transform: rotate(45deg); */
/* left: 10px; */
/* } */
