/* font-family: franklin-gothic-atf, sans-serif;
font-weight: 100;
font-style: normal; */
/* font-family: franklin-gothic-condensed, sans-serif;
font-weight: 400;
font-style: normal; */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
}

.container {
	display: flex;
	justify-content: center;

	/* align-items: center; */
	text-align: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.jim-foto {
	width: 400px;
	height: 800px;
	border: 1px solid #000;
	margin-left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h3 {
	font-size: 20px;
	font-family: 'EB Garamond', serif;
	font-weight: 500;
	font-style: italic;
	letter-spacing: 2px;
	line-height: 3;
}

p {
	width: 40vw;
	margin: 0 50px;
	text-align: left;
}

.box img {
	margin: 0px;
	width: 50%;
}

#navbar {
	position: fixed;
	width: 100vw;
	height: 120px;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background: black; */
	padding: 0 15vw;
}
ul {
	padding: 0;
}
li {
	display: inline-flex;
	position: relative;
	padding: 0 20px;
	font-size: 20px;
	/* text-transform: uppercase; */
	font-weight: 300;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: grey;
}
.worldFoods,
.jim,
.signup,
.video {
	margin-top: 200px;
}

.toggleNavBar {
	width: 100vw;
	height: 100vh;
	background: grey;
	border: 1px solid black;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	margin: 0;
}

.toggle .topLine,
.middleLine,
.bottomLine {
	width: 40px;
	height: 2px;
	position: absolute;
	margin-left: 0;
	margin-right: 0;
	top: 50%;
}
.toggle .topLine {
	margin-top: -40px;
	background: transparent;
	/* transform: rotate(-45deg); */
	top: 50px;
}
.toggle .middleLine {
	margin-top: -10px;
	background: transparent;
}
.toggle .bottomLine {
	margin-top: 0px;
	background: transparent;
	/* transform: rotate(45deg); */
	/* left: 10px; */
}

.boxes {
	background: transparent;
	width: 100px;
	height: 100px;
}

.boxes {
	border: 1px solid black;
	position: relative;
}

.toggle {
	height: 100px;
	width: 100px;
	position: absolute;
	z-index: 10;
	left: 20px;
	top: 40px;
}
.toggleNavBar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.toggleNavBar a {
	margin: 20px 0;
	color: white;
}
.toggleNavBar a:hover {
	color: black;
}

.jim-inside-container {
	width: 40vw;
}
.jim-scroll p {
	width: 100%;
}
.jim {
	width: 90vw;
}

.jim-foto p {
	text-align: center;
}

.navbarItems {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.opener {
	padding-left: 50px;
	margin-top: 0;
	padding-top: 0;
	width: 100%;
	height: 100%;
}

.white {
	background: #fff;
}
