/* font-family: franklin-gothic-atf, sans-serif;
font-weight: 100;
font-style: normal; */
/* font-family: franklin-gothic-condensed, sans-serif;
font-weight: 400;
font-style: normal; */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
	overflow: hidden;
}

html {
	height: 100%;
	/* overflow: hidden; */
}

.container {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0;
	overflow: hidden;
	margin-bottom: auto;
	margin-top: 100px;
	width: 100vw;
	height: 100vh;
}
